<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  <link rel="icon" href="/favicon.ico">
  {{- with resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
  {{- $noop := .Content }}
  {{- $hasMath := .Store.Get "hasMath" }}
  {{- if not $hasMath }}
  {{- $pages := .Pages }}
  {{- if .IsHome }}{{ $pages = site.RegularPages }}{{ end }}
  {{- range $pages }}
  {{- $noop := .Summary }}
  {{- if .Store.Get "hasMath" }}
  {{- $hasMath = true }}
  {{- break }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if $hasMath }}
  {{- with resources.Get "css/katex.min.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{- end }}
  {{- end }}
</head>

<body>
  <header>
    <h1><a href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a></h1>
    <nav>
      <ul>
        {{- range site.Menus.main }}
        <li><a href="{{ .URL }}" {{ if or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}class="active"
            aria-current="page" {{ end }}>{{ .Name }}</a></li>
        {{- end }}
      </ul>
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>&copy; {{ now.Format "2006" }} {{ site.Title }}</p>
  </footer>
</body>

</html>