{{ $pages := .Pages }}
{{ if gt (len $pages) 0 }}
<ul class="post-list">
  {{ range $pages.ByDate.Reverse }}
  {{ $summaryHTML := replaceRE `(?s)<figure.*?</figure>` "" .Summary }}
  <li>
    <article>
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ with .Params.subtitle }}
      <p class="post-subtitle">{{ . }}</p>
      {{ end }}
      <p class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format ":date_long" }}</time>
      </p>
      {{ with $summaryHTML }}
      <div class="post-summary">
        {{ . | safeHTML }}
      </div>
      {{ end }}
    </article>
  </li>
  {{ end }}
</ul>
{{ end }}
